#contact iframe
{
    width: 100%;
}
.travel_mainDiv{
    border:1px solidlightgrey;
}
.travel_mainDiv img{
    width:100%;
}
.travel_mainDiv h5{
    margin:20px;
}
.travel_mainDiv kbd{
    background-color:lightcoral;
}
hr{
    border-top: 2px dotted black
}
.movie_head{
    font-size:20px;
    padding:6px 22px;
    border-radius:10px;
    margin-bottom:15px;
}
.movie_head i{
    float:right;
}
.movie_text span{
    color:orange;
}
